<div class="card mb-4">

  <div class="card-body bg-light">

    <img class="img-thumbnail float-right"
      src="//api.angular.schule/avatar/{{ book.rating }}">

    <div class="card-title">
      <h2>{{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>
    </div>

  <p>
    {{ book.description }}

    <ng-content></ng-content>
  </p>


  <button
    [disabled]="!br.rateDownAllowed(book)"
    class="btn btn-danger mr-2" (click)="rateDown()">-1</button>

  <button
    [disabled]="!br.rateUpAllowed(book)"
    testRateUp class="btn btn-danger" (click)="rateUp()">+1</button>

  </div>

</div>
